<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">

    <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
    <style>
    .login{

        margin-top:10%;
        background:#00495F;
        padding:20px;
        border-radius: 10px;

    }
    label{
        color:#ffffff;
    }
    body{

        background:#ccc;
    }
    </style>
    <script src="{{ asset('js/jquery.js') }}"></script>
    </head>
    <body>
    <nav class="navbar navbar-inverse">
    <div class="container-fluid">
    <div class="navbar-header">
    <a class="navbar-brand" href="/">UserBundle</a>

    </div>
     {% if is_granted("ROLE_USER") %} 
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
          <ul class="nav navbar-nav">
            
          
            <li><a href="/routes">Routes</a></li>
           
          </ul>
           <p class="navbar-text navbar-right">
       
            Signed in as <a href="/routes" class="navbar-link">{{ user.username }} </a>
            <a href="/logout">Logout </a>
       

          </p>
    </div>
     {% else %}
      <p class="navbar-text navbar-right">
            <a href="/register">Register</a>
          </p>
     {% endif %} 
    </div>
    </nav>
    {% block body %}
    {{ block('fos_user_content') }}
    {{ block('user_routes') }}
    {% endblock %}

           <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
    
    <!-- Include all JavaScripts, compiled by Assetic -->
 
    <script src="{{ asset('js/bootstrap.js') }}"></script>
 

    </body>
</html>
