{% extends "AppBundle::layout.html.twig" %}


{% block user_routes %}

<div class="row" >
<div class="col-md-4 col-sm-4"></div>
<div class="col-md-4 col-sm-4" style="background:#fff; padding:20px;"> 
<h1> Add Route </h2>
  <form  action="/routes/save" method="post" enctype="multipart/form-data">
  
  <div class="form-group">
 
    <input type="text" class="form-control" id="name" name="name" placeholder="Enter route name" required="required">
  </div>
  <div class="form-group">
 
    <input type="file"  id="file" name="file" required="required">
  </div>

  <button type="submit" class="btn btn-info">Submit</button>
</form>

</div>
{% endblock user_routes %}