{% extends "AppBundle::layout.html.twig" %}


{% block user_routes %}

<div class="row" >
<div class="col-md-3 col-sm-3"></div>
<div class="col-md-6 col-sm-6" style="background:#fff; padding:20px;"> 
<h2> Trip routes</h2>
<a href="/routes/add" class="btn btn-info pull-right">Add+</a>
<table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Actions</th>

        </tr>
      </thead>
      <tbody>
      {% for result in results %}
        <tr>
          <th scope="row">{{ result.name }}</th>
          <td><button class="btn btn-success" path="{{ asset(result.path) }}"> Show </button></td>

        </tr>

        {% endfor %}
      </tbody>
    </table>

</div>
</div>
<div class="row" >
<div class="col-md-3 col-sm-3"></div>
<div id="map" class="col-md-6 col-sm-6" style="background:#fff; height:500px; padding:20px;"> 


</div>
</div>


   <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
   <script src="{{ asset('js/loadgpx.js') }}"></script>

<script>


function loadGPXFileIntoGoogleMap(map, filename) {
    $.ajax({url: filename,
        dataType: "xml",
        success: function(data) {
          var parser = new GPXParser(data, map);
          parser.setTrackColour("#ff0000");     // Set the track line colour
          parser.setTrackWidth(5);          // Set the track line width
          parser.setMinTrackPointDelta(0.001);      // Set the minimum distance between track points
          parser.centerAndZoom(data);
          parser.addTrackpointsToMap();         // Add the trackpoints
          parser.addWaypointsToMap();           // Add the waypoints
        }
    });
}

$('.btn-success').click(function(){
	

	var mapOptions = {
      zoom: 8,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map"),
        mapOptions);
    loadGPXFileIntoGoogleMap(map, $(this).attr('path'));


})
</script>

{% endblock user_routes %}