{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
    {{ form_widget(form) }}
    <div>
        <button type="submit" class="btn btn-info"  > {{ 'registration.submit'|trans }} </button>
    </div>
</form>

