{% extends "AppBundle::layout.html.twig" %}

{% block fos_user_content %}

        <div class="row">
        <div class="col-md-5 col-sm-5">
        </div>
         <div class="col-md-2 col-sm-2 login">
{% include "AppBundle:Registration:register_content.html.twig" %}
		</div>
		 <div class="col-md-5 col-sm-5">
        </div>
        </div>
{% endblock fos_user_content %}
