{% extends "AppBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}


        <div class="row">
        <div class="col-md-5 col-sm-5">
        </div>
         <div class="col-md-2 col-sm-2 login">
          {% if error %}
    <div><p style="color:red">{{ error.messageKey|trans(error.messageData, 'security') }} </p></div>
{% endif %}
         <form  action="{{ path("fos_user_security_check") }}" method="post">
         <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
  <div class="form-group">
    <label for="username">{{ 'security.login.username'|trans }}</label>
    <input type="text" class="form-control"id="username" name="_username" value="{{ last_username }}" required="required">
  </div>
  <div class="form-group">
     <label for="password">{{ 'security.login.password'|trans }}</label>
    <input type="password" class="form-control" id="password" name="_password" required="required">
  </div>
 <div class="form-group">
  <input class="form-control" type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label  for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
   </div>
  <button type="submit" class="btn btn-info">Submit</button>
</form>
        </div>
         <div class="col-md-5 col-sm-5">
        </div>
        </div>

{% endblock fos_user_content %}
